###############
# IMPORTANT!
# See lib/env.ts for the list of required environment variables and how to get them.
###############

AUTH_SECRET=
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
DATABASE_URL=
GITHUB_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_TO_EMAIL=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_ENV=
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_GITHUB_USERNAME=
NEXT_PUBLIC_ONION_DOMAIN=
NEXT_PUBLIC_SITE_LOCALE=
NEXT_PUBLIC_SITE_TZ=

# https://vercel.com/docs/projects/environment-variables/system-environment-variables

# optional. privacy-friendly tracking via Umami, either managed or self-hosted.
# this ID can be found in Settings > Websites > Edit > Details.
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
# optional. the base URL of a self-hosted Umami instance (including https://) to proxy requests to. if the website ID is
# set but this isn't, the managed Umami Cloud endpoint is used.
# https://umami.is/docs/bypass-ad-blockers
NEXT_PUBLIC_UMAMI_HOST=

# optional. enables comments on blog posts via GitHub discussions.
# https://giscus.app/
NEXT_PUBLIC_GISCUS_REPO_ID=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=

# optional. send submissions from noreply@{RESEND_DOMAIN}; defaults to onboarding@resend.dev. sender's real email is
# passed via a Reply-To header. setting this makes zero difference to the user.
# https://resend.com/docs/send-with-nodemailer-smtp
RESEND_DOMAIN=

# required for production. site key must be prefixed with NEXT_PUBLIC_ since it is used to embed the captcha widget.
# falls back to testing keys if not set or in dev environment:
# https://developers.cloudflare.com/turnstile/troubleshooting/testing/
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
# used for backend validation of turnstile result.
TURNSTILE_SECRET_KEY=
