# next.js
/.next/

# node/npm/pnpm/yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock

# typescript
*.tsbuildinfo

# here be secrets
*.env*
!.env.example
*.pem

# macOS/iCloud junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.icloud
.nosync

# development database
*.db
*.db-journal

# vercel
.vercel
